{% extends "base.html.twig" %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>Apps</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group">
                <a href="{{ path('backoffice.system.app.add') }}" class="btn btn-sm btn-outline-primary">Create app</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row mb-2">
                    {% for app in apps %}
                        <div class="col-xl-6 col-md-12 col-sm-12">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-200 position-relative">
                                <div class="col p-3 d-flex flex-column position-static">
                                    <h3 class="mb-0">{ app.name }</h3>
                                    <p class="card-text mb-auto">{ app.description }</p>
                                    <div class="row border-top pt-3">
                                        <div class="col">
                                            Administrateur
                                        </div>
                                        <div class="col d-flex justify-content-end">
                                            <div class="dropdown">
                                                <button class="btn btn-outline-secondary btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    ...
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto d-none d-lg-block">
                                    <svg class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12 d-flex justify-content-center mt-5">
                            <h2>Aucune app pour le moment</h2>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <p class="h4">Pour commencer, créer votre première app.</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}